@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: Raleway;
  overflow-x: hidden;
}

header {
  background-color: #1b1b1d;
  height: 100vh;
  position: fixed;
  width: 120px;
}
#__next {
  float: left;
  width: 100%;
}
main {
  margin-left: 120px;
  float: left;
  width: calc(100vw - 120px);
}
.hidden {
  display: none;
}
.navbarButton {
  background: transparent;
  border: 0px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  padding: 0px;
  position: fixed;
  top: calc(50vh - 25px);
  left: 35px;
}
.logo {
  padding: 34px;
  color: #fff;
}

.navbarMenu {
  position: fixed;
  top: 0;
  width: calc(100vw - 120px);
  left: 120px;
  height: 100%;
  background-color: #2a2a2c;
  margin: 0px;
  padding: 0px;
  z-index: 10;
}

.navbarMenu ul {
  text-decoration: none;
  list-style: none;
  padding: 0px 15px;
  margin: 0px;
  position: relative;
  top: calc(50vh - 100px);
  float: left;
  width: 100%;
}

.navbarMenu ul li {
  float: left;
  width: calc(100% - 30px);
}
.navbarMenu ul li a {
  color: #fff;
  text-decoration: none;
  padding: 1rem 0rem;
  text-align: center;
  float: left;
  width: 100%;
}

/* index page */

.content {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  position: relative;
}
.dark {
  background-color: #2a2a2c;
}

.container.dark {
  padding-top: 100px;
}
.container {
  color: #fff;
  float: left;
  width: calc(100% - 75px);
  padding: 180px 30px 100px;
  position: relative;
  min-height: calc(100vh - 200px);
}

/* font */

.textZep h1 {
  font-size: 4.3em;
  font-weight: 900;
  margin-bottom: 0.1em;
  margin-top: 0px;
}
.textZep h2 {
  font-weight: 400;
  font-size: 2.2em;
  margin-top: 0px;
  margin-bottom: 2.5rem;
}
.content p {
  margin: 0px;
  font-size: 1.3em;
  line-height: 1.2;
}

.ipsum p {
  font-size: 1em;
  font-weight: 600;
  text-align: left;
}

.textZep p {
  padding: 0px 50px;
}

.airshipImages {
  padding-top: 30px;
  padding-bottom: 60px;
}

.actionButton {
  text-align: center;
  position: absolute;
  width: 100%;
  color: #fff;
  right: 0px;
  bottom: 100px;
}
.textZep {
  padding-bottom: 50px;
  padding-top: 120px;
}
.actionButton a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}
.contentWho {
  color: #2a2a2c;
  text-align: center;
}

h3 {
  font-size: 3em;
  font-weight: 900;
  margin-bottom: 100px;
  margin-top: 0px;
  float: left;
  width: 100%;
}

.container.light {
  color: #000;
}

.card {
  width: 50%;
  max-width: 530px;
}
.left {
  float: left;
}
.right {
  float: right;
}
.row {
  width: 100%;
  float: left;
}

h4 {
  font-weight: 900;
  font-size: 1.4em;
  margin: 20px 0px 30px;
}
.red {
  background-color: #eb5b51;
}
fieldset {
  padding: 0px;
}
.contact {
  max-width: 1040px;
}
.content.contact footer p {
  font-size: 1.3em;
}
input {
  width: 100%;
  border: 0px;
  background-color: transparent;
  border-bottom: 2px solid #fff;
  padding: 10px 0px;
  color: #ffffff;
  font-size: 1.4em;
}
.row fieldset {
  width: calc(50% - 15px);
  float: left;
  margin: 0px;
}
fieldset {
  border: 0px;
  padding: 10px 0px;
}
#submit {
  background-color: #eee;
  border: 0px;
  padding: 20px 100px;
  border-radius: 5px;
  font-size: 1.5em;
  font-weight: 900;
  color: #eb5b51;
  margin-top: 50px;
  cursor: pointer;
}

#contact button[type="submit"]:hover {
  background: #fff;
  transition: 0.3s all;
}
.row fieldset:first-child {
  margin-right: 15px;
}
.row fieldset:last-child {
  margin-left: 15px;
}

.content.contact p {
  margin-bottom: 120px;
  font-size: 1.5em;
}
.content.contact h3 {
  margin-bottom: 15px;
}
#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border-bottom: 2px solid #fff;
  color: #fff;
  transition: 0.3s all;
  background-color: #d2534a96;
  border-radius: 5px 5px 0px 0px;
}
input::placeholder {
  color: #f5ada8;
}
.container.red {
  padding-bottom: 160px;
  min-height: calc(100vh - 210px);
}
/*kommer ikke til at ske https://caniuse.com/?search=scrollbar-color ved ikke om der er en bedre løsning til at styler overflow? */

footer {
  position: absolute;
  bottom: 0px;
  width: calc(100vw - 195px);
  text-align: center;
}
.content.contact footer p {
  margin: 30px 0px 0px 0px;
}

.contentWho .row {
  padding-bottom: 100px;
}

.ipsum {
  position: absolute;
  top: -30px;
}

/* On screens that are 992px wide or less */
@media screen and (max-width: 992px) {
  .card {
    float: left;
    width: 100%;
    max-width: none;
  }
  .card.right {
    margin-top: 50px;
  }
  .contentWho .row {
    padding-bottom: 50px;
  }
  .textZep {
    padding-top: 30px;
  }
  .textZep h1 {
    font-size: 3rem;
    margin: 0px;
  }
  .textZep h2 {
    font-size: 2em;
    margin-bottom: 15px;
  }
  .content p {
    font-size: 1em;
  }
  h3 {
    font-size: 1.8em;
    margin-bottom: 50px;
  }
  h4 {
    font-size: 1.2em;
    margin: 15px 0px 20px;
  }
  .content.contact p {
    margin-bottom: 30px;
  }
  .content.contact p {
    font-size: 1.1em;
  }
  .contact {
    max-width: 700px;
  }
  input {
    font-size: 1em;
  }
  #submit {
    font-size: 1.2em;
    width: 100%;
    margin-top: 30px;
  }
  .content.contact footer p {
    font-size: 1em;
    margin: 15px 0px 0px 0px;
  }
  .container.dark {
    padding-top: 70px;
  }
  .zeppeliner {
    max-width: 300px;
    margin: 0 auto;
  }
  .zeppeliner {
    max-width: 300px;
    margin: 0 auto;
  }
  .container {
    padding: 50px 30px;
    min-height: calc(100vh - 100px);
  }
}

/* On screens that are 600px wide or less */
@media screen and (max-width: 600px) {
  header {
    width: 100%;
    height: auto;
    z-index: 1;
  }
  main {
    width: 100%;
    margin: 0px;
    padding-top: 84px;
  }
  .navbarContainer {
    width: 100%;
    position: relative;
  }
  .navbarButton {
    top: 15px;
    z-index: 1;
    right: 34px;
    left: auto;
  }
  .container {
    width: calc(100vw - 77px);
  }
  .navbarMenu {
    width: 100%;
    left: 0px;
    top: 84px;
  }
  .logo {
    padding: 15px 30px;
  }
  .actionButton {
    bottom: 40px;
  }
  footer {
    width: calc(100vw - 77px);
  }
  .row fieldset {
    width: 100%;
    margin: 0px !important;
  }
  input {
    padding-left: 15px;
    width: calc(100% - 15px);
  }
  br {
    display: none;
  }
}
